services:
  flask_app:
    container_name: flask_app
    image: raulblummertz/flask_app:1.0.0
    build: .
    ports:
      - "5000:5000"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@flask_db:5432/postgres
    volumes:
      - .:/app
    depends_on:
      - flask_db
    
  flask_db:
    image: postgres:15-alpine
    container_name: flask_db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: {}
